@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-base: rgb(255, 255, 255);
  --bg-primary: rgb(65, 58, 53);
  --bg-secondary: rgb(255, 197, 1);
  --bg-secondary-25: rgba(255, 197, 1, .25);
  --bg-tertiary: rgb(241, 241, 241);
  --text-primary: rgb(49, 44, 33);
  --text-secondary: rgb(255, 255, 255);
  --text-tertiary: rgb(255, 197, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-base: rgb(40, 42, 47);
    --bg-primary: rgb(65, 58, 53);
    --bg-secondary: rgb(255, 197, 1);
    --bg-secondary-25: rgba(255, 197, 1, .25);
    --bg-tertiary: rgba(65, 58, 53, .75);
    --text-primary: rgb(255, 255, 255);
    --text-secondary: rgb(255, 255, 255);
    --text-tertiary: rgb(255, 197, 1);
  }
}

body {
  color: var(--text-primary);
  background: var(--bg-base);
  font-family: Roboto, sans-serif;
}
